.navbar {
  background-color: #0a3d62;
  padding: 15px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  color: #fff;
  font-size: 24px;
}

.nav-links a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #fbc531;
}
